[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sabose
[access "refs/for/refs/*"]
	read = group user/sabose
	push = group user/sabose
	label-Code-Review = -2..+2 group user/sabose
	label-Verified = -1..+1 group user/sabose
	rebase = group user/sabose
	removeReviewer = group user/sabose
	submit = group user/sabose
[access "refs/heads/*"]
	read = group user/sabose
	create = group user/sabose
	push = +force group user/sabose
	pushMerge = group user/sabose
[access "refs/tags/*"]
	push = +force group user/sabose
	pushTag = group user/sabose
	pushSignedTag = group user/sabose
